/** code by webdevtrick ( https://webdevtrick.com ) **/
.gallery {

  .ul, .row{
    color: #fff;
    list-style: none;
    background-color: $primary-dark-400;
  }

  .col-md {
    &:hover {
      background: $primary;
      color: #fff;
    }
  }

  .active {
    background: $primary;
    color: #fff;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  ul li {

    transition: all .5s ease;
    color: #fff;
    padding: 4px 0;
  }

  .ul li:nth-of-type(3), 
  .ul li:nth-of-type(4),
  .ul li:nth-of-type(5){
    flex-grow: 2
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    flex-direction: row;
    grid-gap: 0;
    width: 100%;
    height: auto;
    
    img {
      display: block;
      transition: transform 0.5s ease 0s;
      object-fit: cover;
      width: 100%;
      height: 200px;

      &:hover {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        overflow: hidden !important;
      }
    }
    .images {
      overflow: hidden;
    }
  }
}

@media (max-width: 1027px){
  .gallery {
      .gallery-container {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

@media (max-width: 767px) {
.gallery {
    .gallery-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 540px) {
  .gallery {
      .gallery-container {
        grid-template-columns: 1fr;
      }
    }
  }