/** code by webdevtrick ( https://webdevtrick.com ) **/
.gallery {

  .ul{
    margin-top: 50px;
  }

  .ul li{
    padding: 10px 15px;
    border: 2px solid #333;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s ease;
  color: #333;
  }

  .ul li.active,
  .ul li:hover{
    background-color: #ec1c23;
    color: #FFF;
    border: 2px solid #ec1c23;
  }

  .ul li:last-of-type{
    margin-right: 0 ;
  }

  .ul li:nth-of-type(3),
  .ul li:nth-of-type(4),
  .ul li:nth-of-type(5){
    flex-grow: 2
  }

  .container-fluid{
  overflow: hidden;
  padding: 0;
  }

  .container-fluid .col-md-3{
    padding: 0;
    float: left;
    transition: all 5s ease-in-out
  }

  .container-fluid img{
    width: 100%
  }
}

@media (max-width: 767px){
  .gallery .container-fluid img{
      margin-bottom: 15px
  }
}