// colors

$white: #fff !default;
$black: #222 !default;
$primary: #9c7121 !default;
$secondary: lighten($primary, 25%) !default;

// buttons

$btn-prm: #ad7600 !default;
$btn-scn: #d49941 !default;

$gray-100: lighten(#444, 90%) !default;
$gray-200: lighten(#444, 80%) !default;
$gray-300: lighten(#444, 70%) !default;
$gray-400: lighten(#444, 60%) !default;
$gray-500: lighten(#444, 50%) !default;
$gray-600: lighten(#444, 40%) !default;
$gray-700: lighten(#444, 30%) !default;
$gray-800: lighten(#444, 20%) !default;
$gray-900: lighten(#444, 10%) !default;

$primary-dark-100: darken($primary, 50%) !default;
$primary-dark-200: darken($primary, 45%) !default;
$primary-dark-300: darken($primary, 40%) !default;
$primary-dark-400: darken($primary, 35%) !default;
$primary-dark-500: darken($primary, 30%) !default;
$primary-dark-600: darken($primary, 25%) !default;
$primary-dark-700: darken($primary, 20%) !default;
$primary-dark-800: darken($primary, 15%) !default;
$primary-dark-900: darken($primary, 10%) !default;

// fonts

$primary-font: 'Barlow Condensed', sans-serif !default;
$secondary-font: 'Open Sans', sans-serif !default;